<footer class="ftr">
    <div class="ftr-inner">
        <div class="ftr-content">
            <div class="ftr_social-content">
                <article class="ftr_social-article">
                    <section class="ftr-section">
                        <h5 class="ftr-header">Sign Up For The Latest News</h5>
                        <p class="ftr-description">Buy and sell box-fresh, 100% authenticated sneakers at this dummy website.</p>
                    </section>
                    <form action="" class="ftr-form">
                        <span>
                            <input type="text" class="ftr-footer-input" placeholder="Type email here">
                            <button class="ftr-form-btn">I'm in</button>
                        </span>
                    </form>
                </article>
                <ul class="ftr-social">
                    <li class="ftr-social-item"><a href="#"><i class='bx bxl-instagram' ></i></a></li>
                    <li class="ftr-social-item"><a href="#"><i class='bx bxl-facebook-circle'></i></a></li>
                    <li class="ftr-social-item"><a href="#"><i class='bx bxl-twitter' ></i></a></li>
                </ul>
            </div>
            <div class="ftr-nav">
                <h5 class="ftr-mid-title">Brands</h5>
                <ul class="ftr-mid-section">
                    <li class="ftr-name">Yeezy</li>
                    <li class="ftr-name">Air Jordan</li>
                    <li class="ftr-name">Adidas</li>
                    <li class="ftr-name">Nike</li>
                    <li class="ftr-name">New Balance</li>
                    <li class="ftr-name">Converse</li>
                    <li class="ftr-name">Puma</li>
                </ul>
            </div>
            <div class="ftr-nav">
                <h5 class="ftr-mid-title">Legal Information</h5>
                <ul class="ftr-mid-section">
                    <li class="ftr-name">Your Privacy Rights</li>
                    <li class="ftr-name">Terms & Condition</li>
                    <li class="ftr-name">Cookie Settings</li>
                </ul>
            </div>
            <div class="ftr-nav">
                <h5 class="ftr-mid-title">About</h5>
                <ul class="ftr-mid-section">
                    <li class="ftr-name">Careers</li>
                    <li class="ftr-name">Store Locator</li>
                    <li class="ftr-name">About Us</li>
                    <li class="ftr-name">contactus@gmail.com</li>
                </ul>
            </div>
        </div>
        <div class="ftr-divider"></div>
        <div class="ftr-bottom">
            <div class="trustpilot-widget">Excellent 5 out of 5</div>
            <div class="copyright-info"> Shoe Ecommerce Website | Inspired by Lace and Footlocker | Built using Django</div>
            <div class="payment-type">
                <span><i class='bx bxl-mastercard' ></i></span>
                <span><i class='bx bxl-stripe' ></i></span>
                <span><i class='bx bxl-visa' ></i></span>
            </div>
        </div>
    </div>
</footer>